@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed; /* Fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: #1F2937; /* Dark background */
    /* padding: 15px 20px; */
    z-index: 1000; /* Ensure it stays above other elements */
  }
  body {
    padding-top: 60px; /* Add padding so content doesn’t hide behind the navbar */
  }

  /* Light Mode */
body {
    background-color: white;
    color: black;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  /* Dark Mode */
  .dark {
    background-color: #121212;
    color: white;
  }
  .dark body{
    background: #000;
    color: #3b82f5;
  }
  /* Navbar in Dark Mode */
  .dark .navbar {
    background-color: #1e1e1e;
  }
  
  /* Theme Toggle Button */
  #theme-toggle {
    cursor: pointer;
    padding: 8px 15px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  /* Button in Dark Mode */
  .dark #theme-toggle {
    border-color: white;
    color: white;
  }
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
  }
    